---
layout: homepage
title: Caduti Centesi della Grande Guerra
subtitle: Una rilettura del libro "Martiri e Caduti Centesi della Patria Indipendenza, 1930"
---


<div class="col-md-12">
        {% assign filtereddata = site.data.caduti | group_by: "Provenienza" %}

        <div class="row">
                <h2>Mappe</h2>
                <div class="col-md-6">
                        <div class="panel panel-default h-100">
                                <div class="panel-body">
                                        <a href="/mappe/luoghi_battaglia/">
                                                <h3>Mappa dei luoghi di battaglia</h3>
                                        </a>
                                </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="panel panel-default h-100">
                                <div class="panel-body">
                                        <a href="/mappe/luoghi_morte/">
                                                <h3>Mappa dei luoghi di morte</h3>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>

        <div class="row">
                <h2>I caduti raccolti nel libro</h2>
                {% for member in filtereddata %}
                {% assign filteredcadutilen=site.data.caduti | where:"Provenienza",member.name | size%}
                <div class="col-md-4">
                        <div class="panel panel-default h-100">
                                <div class="panel-body">
                                        <a href="/caduti_di/{{member.name}}">
                                                <h3>Caduti di {{member.name}} ({{filteredcadutilen}})</h3>
                                        </a>
                                </div>
                        </div>
                </div>
                {% endfor %}
        </div>

        <div class="row">
                <h2>I cognomi raccolti nel libro</h2>
                {% for member in site.data.cognomi %}
                <div class="col-md-2">
                    <div class="panel panel-default h-100">
                        <div class="panel-body">
                            <a href="/cognome/{{member.Cognome | slugify}}">
                                <h4>{{member.Cognome}} ({{member.count}})</h4>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
</div>

<hr class="col-lg-12">


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/masonry.min.js"></script>

<style> div.form-inline.text-center {padding-bottom: 8rem;} .itemTitle a {font-weight: bold; color: #337ab7 !important; text-decoration: none;} </style>
