
<div class="row">
        <div class="col-md-6 col-md-offset-3">
                <div class="panel-group">
                        {% assign filtereddata = site.data.caduti | where: "Provenienza",page.frazione %}
                        {% for member in filtereddata %}
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <a href="/caduti/{{member.title | downcase}}">
                                                <h3>{{member.Cognome}} {{member.Nome}}</h3>
                                        </a>
                                </div>
                                <div class="panel-body">Nato a {{member.Luogo_nascita}} nel {{member.Data_nascita | round}}</div>
                        </div>
                        {% endfor %}
                </div>
        </div>
</div>
