
<div class="row align-items-start">
        <div class="col-md-12">
                {% assign filtereddata = site.data.caduti | where: "Provenienza",page.frazione %}
                
                <div class="row">
                        Ci sono {{filtereddata | size}} caduti {% if page.frazione == "Cento" %}del capoluogo di{% else %}della frazione di{% endif %} {{page.frazione}}.
                </div>

                <div class="row">
                        {% for member in filtereddata %}
                        <div class="col-md-4">
                                <div class="panel panel-default" style="height: 200px;">
                                        <div class="panel-heading">
                                                <a href="/caduti/{{member.title | downcase | replace: ' ','-' }}">
                                                        <h3>{{member.Cognome}} {{member.Nome}}</h3>
                                                </a>
                                        </div>
                                        {% assign dataMorte = member.Data_morte | split: '-' %}
                                        <div class="panel-body"><small>Nato a {{member.Luogo_nascita}}{%if member.Data_nascita != blank %} nel {{member.Data_nascita | round}}{% endif %}{% if member.Professione != blank %}, {{ member.Professione }}{% endif %}{% if member.Grado != blank %}, {{ member.Grado }}{% endif %}{% if member.Data_morte != blank %}, morto {%if dataMorte[2] == "11" %}l'{%else%}il {%endif%}{{dataMorte[2]}}/{{dataMorte[1]}}/{{dataMorte[0]}}{% endif %}</small></div>
                                </div>
                        </div>
                        {% endfor %}
                </div>
        </div>
</div>
