---
layout: base
title: Luoghi di battaglia
---

{% include header.html type="issue" %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#map_teatro{ height: 600px }
</style>


<div class="container" role="main">
        <div class="row">
                <div class="col-md-12"><h1>Luoghi di battaglia</h1></div>

        </div>
        <div class="row">
                <div class="col-md-12"><div id="map_teatro"></div>
        </div>
</div>

<script>
// initialize the map
var map_teatro = L.map('map_teatro').setView([42.5,12.5], 4);

// create the tile layer with correct attribution
var osmUrl='{{site.tile_map}}';
var osmAttrib='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://opentopomap.org/" target="_blank">OpenTopoMap</a>';
var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 11, attribution: osmAttrib, opacity: 0.7});

map_teatro.addLayer(osm);

var markers = L.markerClusterGroup();
{% for member in site.data.caduti %}
{% if member.Coordinate_teatro != blank %}
{% assign coords_teatro = member.Coordinate_teatro | split: ',' %}
var title = "{{member.Cognome}} {{member.Nome}}";
{% assign dataMorte = member.Data_morte | split: '-' %}
var popup = '<div class="row"><a href="/caduti/{{member.title | downcase | replace: ' ', '-'}}"><h1>{{member.Cognome}} {{member.Nome}}</h1></a></div><div class="row"><p>Nato a {{member.Luogo_nascita}}{%if member.Data_nascita != blank %} nel {{member.Data_nascita | round}}{% endif %}{% if member.Data_morte != blank %},<br>morto {%if dataMorte[2] == "11" %}l\'{%else%}il {%endif%}{{dataMorte[2]}}/{{dataMorte[1]}}/{{dataMorte[0]}}{% endif %}</p></div>';
var marker = L.circleMarker(new L.LatLng({{coords_teatro[0]}}, {{coords_teatro[1]}}), { title: title }, fill=true);
marker.bindPopup(popup);
markers.addLayer(marker);
{% endif %}
map_teatro.addLayer(markers);
{% endfor %}

</script>
